
body{
    padding: 0;
    margin: 0;
}

header{
    position: relative;
    text-align: center;
    word-spacing: 25px;
    height: 30px;
}

.link{
    text-decoration: none;
    color: black;
    padding-top:1px ;
    
}

.para1{
    text-align: center;
    word-spacing: normal;
    opacity: 0.9;
    font-family: sans-serif;
    font-size: 15px;
}

.link2{
    color: blue;
    text-decoration: none;
}
 

/* first images links */

.pro{
    
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.pro1{
    font-size: 60px;
    font-family: sans-serif;
    padding-top: 30px;
    margin-bottom: 0%;
}

.pro2{
    margin-top:10px;
    font-size: 30px;
    font-family: sans-serif;
}

.pro3{
    font-size: 30px;
    text-decoration: none;
    color:rgb(116, 184, 247);
    padding-left:30px ;
    font-family: sans-serif;
}

/* second img links */

.proo{
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.pro4{
    color: black;
    /* margin-top:10px; */
    font-size: 60px;
    font-family: sans-serif;



}

.pro5{
    color: black;
    margin-top:10px;
    font-size: 30px;
    font-family: sans-serif;
}

.pro6{
    font-size: 30px;
    text-decoration: none;
    color:rgb(59, 154, 243);
    padding-left:30px ;
    font-family: sans-serif;
}

/* watch section */

.prooo{
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.pro7{
    margin-top: 70px;
}

.pro8{
    color:white;
    margin-top:10px;
    font-size: 30px;
    font-family: sans-serif;
}

.inline{
    display: inline-block;
}

/* 6picture section */
 
#inline{
    display: flex;
    flex-wrap:wrap;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.watch{


    text-align: center;
    width: 50%;
    height: 550px;
    background-size: cover;

 }   

 .pro9{
    color: white;
    font-size: 40px;
    font-family: sans-serif,serif,'Times New Roman', Times, serif;
    font-weight: normal;
 }

.pro10{
    font-family: sans-serif,serif;
    font-size: 20px;
    text-decoration: none;
    color:rgb(59, 154, 243);
}








.imgg{
margin-top: 390px;
}

.watchpara{
margin-top: 0%;
    font-size: 25px;
    font-family: sans-serif,serif;
    margin-bottom: 10px;
}
.watchh{
    margin-top: 0%;
    font-size: 20px;
    color: gray;
}

.pro11{
    font-size: 40px;
    font-family:sans-serif,serif;
    margin-bottom: 0%;
    font-weight: bold;
}

.pro12{
    color: white;
    font-size: 30px;
    font-family: sans-serif,serif,'Times New Roman', Times, serif;
}







.img2{
    margin-top: 90px;
}

.creditpara{
    margin-top: 8px;
    font-size: 22px;
    line-height: 22px;
    font-family: sans-serif,serif,'Times New Roman', Times, serif;
}


footer{
    margin-top: 20px;
    background-color: rgb(241, 235, 235);
    padding-left: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 150px;
    font-size: 12px;
    font-family: sans-serif,serif,'Times New Roman', Times, serif;
}

.foot{
    opacity: 0.6;
}

#parent{
    display: flex;
    font-family: sans-serif,serif,'Times New Roman', Times, serif;
    column-gap: 50px;
}


.child{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

ul{
    list-style-type: none;
    opacity: 0.7;
}

a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

.foot1{
    text-decoration: underline;
    color: blue;
    /* opacity:1.5; */
}
a:hover{
    text-decoration: underline;
}










